body
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url("../Images/Konsumen.jpg");
    background-size: 100%;
    background-position: fixed;
}

.header:not(#image-logo)
{
    display: flex;
    width: 100%;
    height: max-content;
    background-color: white;
    justify-content: space-between;
    border-bottom: 2px;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.062);
}

.header-container
{
    width: 100%;
}

.logo{
    display: inline-block;
    padding: 0px;
}

.image-logo
{
    display: block;
    margin-left: 10px;
    height: 60px;
    float: left;
    margin: 10px 10px;
}


#header-title
{
    display: block;
    float: right;
    color: black;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px;
    overflow: hidden;
    text-align: center;
    margin-right: 10px;
    margin: 10px 10px;
}

.main
{
    width: 70%;
    height: 70%;
    background: rgba(0, 0, 0, 0.507);
    margin-left: 15%;
    margin-top: 3%;
}

.rumah-1
{
    width: 50%;
    height: 100%;
    vertical-align: middle;
    float: left;
    padding-top: 2%;
}
.rumah-2
{
    width: 50%;
    height: 100%;
    vertical-align: middle;
    float: right;
    padding-top: 2%;
}

footer{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4.70%;
    height: max-content;
    background: rgba(0, 0, 0, 0.507);
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer-menu-container{
    list-style-type: none;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 3px;
}

.footer-menu-inside{
    float: left;
    font: 15px;
    color: white;
    font-weight: 500;
    font-family: lucida,tahoma,verdana,arial,sans-serif;
    text-align: center;
    padding: 14px 10px;
}

.copyright{
    float: right;
    display: inline-flex;
    overflow: hidden;
    height: max-content;
}

#copyright{
    font: 15px;
    color: white;
    font-weight: 500;
    font-family: lucida,tahoma,verdana,arial,sans-serif;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    padding: 14px 10px;
    margin: 5px 10px;
}

a
{
    text-decoration: none;
    color: black;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #464646;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }